<ul class="nav d-none d-md-flex justify-content-center justify-content-lg-end">
    <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contenedores']"><i class="icono containers"></i> <span>Containers</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/incoterms']"><i class="icono incoterm"></i> <span>Incoterms</span></a>
    </li> -->
</ul>
<!-- <div class="dashboard-columns mb-3">
    <dashboard-pasosfronterizos [pasosFronterizos]="pasosFronterizos" *ngIf="pasosFronterizos.show" class="dashboard-item"></dashboard-pasosfronterizos>
    <dashboard-horariobuques [horarioBuques]="horarioBuques" *ngIf="horarioBuques.show" class="dashboard-item"></dashboard-horariobuques>    
</div> -->