<div class="sidebar">

    <nav class="sidebar-nav ps ps--active-y">
        <ul class="nav">
            <li class="nav-title text-center" *appHasRole='["A","800"]'><span>Mi Negocio</span></li>
            <li class="nav-item" *appHasRole='["A","800"]'>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/negocio']">
                    <i class="far fa-building"></i> Info Negocio
                </a>
            </li>
            <!-- <li class="nav-item" *appHasRole='["A","800"]'>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/declaraciones']">
                    <i class="fas fa-user"></i> Clientes
                </a>
            </li> -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)" *appHasRole='["A"]'>
                    <i class="fas fa-barcode"></i> Productos o Servicios</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/item/nuevo']">
                            <i class="fas fa-plus"></i> Nuevo</a>
                    </li>
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/item']">
                            <i class="fas fa-search"></i> Consultar</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)" *appHasRole='["A"]'>
                    <i class="far fa-user"></i> Clientes</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/customer/nuevo']">
                            <i class="fas fa-plus"></i> Nuevo</a>
                    </li>
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/customer']">
                            <i class="fas fa-search"></i> Consultar</a>
                    </li>
                </ul>
            </li>

            <li class="nav-title text-center" *appHasRole='["A","800"]'><span>Mis Comprobantes</span></li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)" *appHasRole='["A"]'>
                    <i class="fas fa-ticket-alt"></i> Talonarios</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/counterfoil/nuevo']">
                            <i class="fas fa-plus"></i> Nuevo</a>
                    </li>
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/counterfoil']">
                            <i class="fas fa-search"></i> Consultar</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)" *appHasRole='["A"]'>
                    <i class="fas fa-map-marker-alt"></i> Puntos de venta</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/salespoint/nuevo']">
                            <i class="fas fa-plus"></i> Nuevo</a>
                    </li>
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/salespoint']">
                            <i class="fas fa-search"></i> Consultar</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)" *appHasRole='["A"]'>
                    <i class="fas fa-file-alt"></i> Comprobantes</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/voucher/nuevo']">
                            <i class="fas fa-plus"></i> Nuevo</a>
                    </li>
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/voucher']">
                            <i class="fas fa-search"></i> Consultar</a>
                    </li>
                </ul>
            </li>

            <li class="nav-title text-center" *appHasRole='["A","800"]'><span>Mis Facturas</span></li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:void(0)" *appHasRole='["A"]'>
                    <i class="fas fa-file-invoice"></i> Facturas</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/invoice/nuevo']">
                            <i class="fas fa-plus"></i> Nuevo</a>
                    </li>
                    <li class="nav-item" *appHasRole='["A"]'>
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/invoice']">
                            <i class="fas fa-search"></i> Consultar</a>
                    </li>
                </ul>
            </li>

            <!-- <li class="nav-item" *appHasRole='["A","800"]'>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/declaraciones']">
                    <i class="fas fa-archive"></i> Productos
                </a>
            </li> -->
        </ul>
    </nav>
</div>